@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); 
*{
    background-color:#1b1b32 ;
    color: white;
    font-family: 'Acme', sans-serif;

}
h1{
    margin: 15px auto;
    font-size: 40px;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 2s steps(10) , blink .5s infinite step-end alternate;
    overflow: hidden;
}

h3{
    font-size: 30px;
}
h4{
    font-size: 23px;
}
@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50%{border-color: transparent;}
}
.card{
    text-align: center;
    width: 350px;
    box-shadow: 0 0 5px black;
    list-style: none;
    border-radius: 5px;
    padding: 10px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
img{
    width: 150px;
    
}